* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: var(--main-font);
  font-size: var(--fs-base);
  background: var(--primary-color);
  color: var(--primary-font-color);
}

.main-image {
  display: block;
  width: 100vw;
  height: 25rem;
}
.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-post {
  margin: 2rem;
  line-height: 1.8rem;
  font-weight: 400;
}
.blog-post h3 {
  font-size: var(--fs-small);
  margin-bottom: 0;
  color: var(--light-font-color);
  font-weight: 700;
}
.blog-post h2 {
  font-size: var(--fs-h2);
  line-height: 2rem;
  margin-top: 0;
}
.blog-post address {
  color: var(--secondary-font-color);
  margin-top: 0;
}

@media (min-width: 1200px) {
  .main-image {
    height: 45rem;
  }
  .main-image {
    object-fit: none;
  }
  .blog-post {
    margin: 4rem;
    line-height: 2.5rem;
  }
  .blog-post h3 {
    font-size
  }
}
