:root {
  --main-font: Helvetica, Arial, sans-serif;

  --primary-color: rgba(38, 38, 38, 1);
  --primary-font-color: rgba(255, 255, 255, 1);
  --secondary-font-color: rgba(233, 170, 137, 1);
  --light-font-color: rgba(202, 202, 202, 1);

  /*font sizes */
  --fs-small: 0.75rem;
  --fs-base: 1rem;
  --fs-normal: 1.125rem;
  --fs-h2: 1.5rem;
  --fs-h1: 2.25rem;
  --fs-large: 2.625rem;

  /* desktop font sizes */
  --fs-desktop-small: 1rem;
  --fs-desktop-base: 1.25rem;
  --fs-desktop-normal: 1.4rem;
  --fs-desktop-h2: 1.875rem;
  --fs-desktop-h1: 2.8rem;
  --fs-desktop-large: 3.3rem;
}
